config/nifi/templates/Weather_ETL_Template.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>f6545725-0191-1000-7fdd-1fed4eae76d3</groupId>
    <name>Weather_ETL_Template</name>
    <snippet>
        <processGroups>
            <id>561aa6a9-2b4b-3639-0000-000000000000</id>
            <parentGroupId>7f571425-2632-3fd9-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>3f77e6f0-f953-3e43-0000-000000000000</id>
                    <parentGroupId>561aa6a9-2b4b-3639-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>561aa6a9-2b4b-3639-0000-000000000000</groupId>
                        <id>76538a2c-9625-3bc1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>561aa6a9-2b4b-3639-0000-000000000000</groupId>
                        <id>1b507925-ed25-33ff-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>4d05d742-819c-31e3-0000-000000000000</id>
                    <parentGroupId>561aa6a9-2b4b-3639-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>561aa6a9-2b4b-3639-0000-000000000000</groupId>
                        <id>06123984-f635-371a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>No Retry</selectedRelationships>
                    <source>
                        <groupId>561aa6a9-2b4b-3639-0000-000000000000</groupId>
                        <id>a509e278-8df9-350a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>89882106-f2d7-3b04-0000-000000000000</id>
                    <parentGroupId>561aa6a9-2b4b-3639-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>561aa6a9-2b4b-3639-0000-000000000000</groupId>
                        <id>102af88a-0a05-3b74-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>No Retry</selectedRelationships>
                    <source>
                        <groupId>561aa6a9-2b4b-3639-0000-000000000000</groupId>
                        <id>a509e278-8df9-350a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b1b98b49-38c4-330c-0000-000000000000</id>
                    <parentGroupId>561aa6a9-2b4b-3639-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>561aa6a9-2b4b-3639-0000-000000000000</groupId>
                        <id>3a56569e-5577-34de-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Retry</selectedRelationships>
                    <source>
                        <groupId>561aa6a9-2b4b-3639-0000-000000000000</groupId>
                        <id>a509e278-8df9-350a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b41437f1-7e08-35e2-0000-000000000000</id>
                    <parentGroupId>561aa6a9-2b4b-3639-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>561aa6a9-2b4b-3639-0000-000000000000</groupId>
                        <id>1b507925-ed25-33ff-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Response</selectedRelationships>
                    <source>
                        <groupId>561aa6a9-2b4b-3639-0000-000000000000</groupId>
                        <id>a509e278-8df9-350a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>bb79c7f9-197b-343a-0000-000000000000</id>
                    <parentGroupId>561aa6a9-2b4b-3639-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>561aa6a9-2b4b-3639-0000-000000000000</groupId>
                        <id>a125baed-a350-3741-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Failure</selectedRelationships>
                    <source>
                        <groupId>561aa6a9-2b4b-3639-0000-000000000000</groupId>
                        <id>a509e278-8df9-350a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c06836f1-b77a-34e9-0000-000000000000</id>
                    <parentGroupId>561aa6a9-2b4b-3639-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>561aa6a9-2b4b-3639-0000-000000000000</groupId>
                        <id>086fde29-4154-3ca7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Original</selectedRelationships>
                    <source>
                        <groupId>561aa6a9-2b4b-3639-0000-000000000000</groupId>
                        <id>a509e278-8df9-350a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f336e556-f868-3192-0000-000000000000</id>
                    <parentGroupId>561aa6a9-2b4b-3639-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>561aa6a9-2b4b-3639-0000-000000000000</groupId>
                        <id>a509e278-8df9-350a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>561aa6a9-2b4b-3639-0000-000000000000</groupId>
                        <id>b8c8724e-93eb-3e5e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>06123984-f635-371a-0000-000000000000</id>
                    <parentGroupId>561aa6a9-2b4b-3639-0000-000000000000</parentGroupId>
                    <position>
                        <x>-304.0</x>
                        <y>480.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>
    <name>Conflict Resolution Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>
    <name>Create Missing Directories</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
<value>
    <name>Maximum File Count</name>
</value>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
<value>
    <name>Last Modified Time</name>
</value>
                            </entry>
                            <entry>
<key>Permissions</key>
<value>
    <name>Permissions</name>
</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>
    <name>Owner</name>
</value>
                            </entry>
                            <entry>
<key>Group</key>
<value>
    <name>Group</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Directory</key>
<value>errors</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>fail</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
                            </entry>
                            <entry>
<key>Permissions</key>
                            </entry>
                            <entry>
<key>Owner</key>
                            </entry>
                            <entry>
<key>Group</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutFile</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutFile</type>
                </processors>
                <processors>
                    <id>086fde29-4154-3ca7-0000-000000000000</id>
                    <parentGroupId>561aa6a9-2b4b-3639-0000-000000000000</parentGroupId>
                    <position>
                        <x>-352.0</x>
                        <y>224.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Directory</key>
<value>
    <name>Directory</name>
</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>
    <name>Conflict Resolution Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>
    <name>Create Missing Directories</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
<value>
    <name>Maximum File Count</name>
</value>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
<value>
    <name>Last Modified Time</name>
</value>
                            </entry>
                            <entry>
<key>Permissions</key>
<value>
    <name>Permissions</name>
</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>
    <name>Owner</name>
</value>
                            </entry>
                            <entry>
<key>Group</key>
<value>
    <name>Group</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Directory</key>
<value>data</value>
                            </entry>
                            <entry>
<key>Conflict Resolution Strategy</key>
<value>fail</value>
                            </entry>
                            <entry>
<key>Create Missing Directories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Maximum File Count</key>
                            </entry>
                            <entry>
<key>Last Modified Time</key>
                            </entry>
                            <entry>
<key>Permissions</key>
                            </entry>
                            <entry>
<key>Owner</key>
                            </entry>
                            <entry>
<key>Group</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutFile</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutFile</type>
                </processors>
                <processors>
                    <id>102af88a-0a05-3b74-0000-000000000000</id>
                    <parentGroupId>561aa6a9-2b4b-3639-0000-000000000000</parentGroupId>
                    <position>
                        <x>1008.0</x>
                        <y>208.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>
    <name>Log FlowFile Properties</name>
</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>
    <name>Output Format</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>Line per Attribute</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>1b507925-ed25-33ff-0000-000000000000</id>
                    <parentGroupId>561aa6a9-2b4b-3639-0000-000000000000</parentGroupId>
                    <position>
                        <x>680.0</x>
                        <y>504.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <dependencies>
        <dependentValues>flowfile-attribute</dependentValues>
        <propertyName>Destination</propertyName>
    </dependencies>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>Max String Length</key>
<value>
    <name>Max String Length</name>
</value>
                            </entry>
                            <entry>
<key>city_name</key>
<value>
    <name>city_name</name>
</value>
                            </entry>
                            <entry>
<key>temperature</key>
<value>
    <name>temperature</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>Max String Length</key>
<value>20 MB</value>
                            </entry>
                            <entry>
<key>city_name</key>
<value>$.name</value>
                            </entry>
                            <entry>
<key>temperature</key>
<value>$.main.temp</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>matched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>3a56569e-5577-34de-0000-000000000000</id>
                    <parentGroupId>561aa6a9-2b4b-3639-0000-000000000000</parentGroupId>
                    <position>
                        <x>232.0</x>
                        <y>496.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>retry-attribute</key>
<value>
    <name>retry-attribute</name>
</value>
                            </entry>
                            <entry>
<key>maximum-retries</key>
<value>
    <name>maximum-retries</name>
</value>
                            </entry>
                            <entry>
<key>penalize-retries</key>
<value>
    <name>penalize-retries</name>
</value>
                            </entry>
                            <entry>
<key>Fail on Non-numerical Overwrite</key>
<value>
    <name>Fail on Non-numerical Overwrite</name>
</value>
                            </entry>
                            <entry>
<key>reuse-mode</key>
<value>
    <name>reuse-mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>retry-attribute</key>
<value>flowfile.retries</value>
                            </entry>
                            <entry>
<key>maximum-retries</key>
<value>3</value>
                            </entry>
                            <entry>
<key>penalize-retries</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Fail on Non-numerical Overwrite</key>
<value>false</value>
                            </entry>
                            <entry>
<key>reuse-mode</key>
<value>fail</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RetryFlowFile</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>retries_exceeded</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>retry</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RetryFlowFile</type>
                </processors>
                <processors>
                    <id>76538a2c-9625-3bc1-0000-000000000000</id>
                    <parentGroupId>561aa6a9-2b4b-3639-0000-000000000000</parentGroupId>
                    <position>
                        <x>672.0</x>
                        <y>800.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>
    <name>Log FlowFile Properties</name>
</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>
    <name>Output Format</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>Line per Attribute</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>a125baed-a350-3741-0000-000000000000</id>
                    <parentGroupId>561aa6a9-2b4b-3639-0000-000000000000</parentGroupId>
                    <position>
                        <x>1264.0</x>
                        <y>496.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>
    <name>Log FlowFile Properties</name>
</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>
    <name>Output Format</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>Line per Attribute</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>a509e278-8df9-350a-0000-000000000000</id>
                    <parentGroupId>561aa6a9-2b4b-3639-0000-000000000000</parentGroupId>
                    <position>
                        <x>320.0</x>
                        <y>264.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Method</key>
<value>
    <name>HTTP Method</name>
</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>
    <name>Remote URL</name>
</value>
                            </entry>
                            <entry>
<key>disable-http2</key>
<value>
    <name>disable-http2</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>
    <name>Read Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Socket Write Timeout</key>
<value>
    <name>Socket Write Timeout</name>
</value>
                            </entry>
                            <entry>
<key>idle-timeout</key>
<value>
    <name>idle-timeout</name>
</value>
                            </entry>
                            <entry>
<key>max-idle-connections</key>
<value>
    <name>max-idle-connections</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>invokehttp-proxy-user</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
<value>
    <dependencies>
        <propertyName>Proxy Host</propertyName>
    </dependencies>
    <name>invokehttp-proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>oauth2-access-token-provider</key>
<value>
    <identifiesControllerService>org.apache.nifi.oauth2.OAuth2AccessTokenProvider</identifiesControllerService>
    <name>oauth2-access-token-provider</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
<value>
    <name>Basic Authentication Username</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
<value>
    <name>Basic Authentication Password</name>
</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>
    <dependencies>
        <propertyName>Basic Authentication Username</propertyName>
    </dependencies>
    <name>Digest Authentication</name>
</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>
    <name>Penalize on "No Retry"</name>
</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>send-message-body</name>
</value>
                            </entry>
                            <entry>
<key>form-body-form-name</key>
<value>
    <dependencies>
        <dependentValues>true</dependentValues>
        <propertyName>send-message-body</propertyName>
    </dependencies>
    <name>form-body-form-name</name>
</value>
                            </entry>
                            <entry>
<key>set-form-filename</key>
<value>
    <dependencies>
        <propertyName>form-body-form-name</propertyName>
    </dependencies>
    <name>set-form-filename</name>
</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>Use Chunked Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Content-Encoding</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>Content-Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>
    <dependencies>
        <dependentValues>POST</dependentValues>
        <dependentValues>PATCH</dependentValues>
        <dependentValues>PUT</dependentValues>
        <propertyName>HTTP Method</propertyName>
    </dependencies>
    <name>Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>
    <name>Include Date Header</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
<value>
    <name>Attributes to Send</name>
</value>
                            </entry>
                            <entry>
<key>Useragent</key>
<value>
    <name>Useragent</name>
</value>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
<value>
    <name>Put Response Body In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>
    <dependencies>
        <propertyName>Put Response Body In Attribute</propertyName>
    </dependencies>
    <name>Max Length To Put In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>ignore-response-content</key>
<value>
    <name>ignore-response-content</name>
</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>
    <name>use-etag</name>
</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>
    <dependencies>
        <dependentValues>true</dependentValues>
        <propertyName>use-etag</propertyName>
    </dependencies>
    <name>etag-max-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>cookie-strategy</key>
<value>
    <name>cookie-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>
    <name>Always Output Response</name>
</value>
                            </entry>
                            <entry>
<key>flow-file-naming-strategy</key>
<value>
    <name>flow-file-naming-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>
    <name>Add Response Headers to Request</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Method</key>
<value>GET</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>https://api.openweathermap.org/data/2.5/weather?q=${city}&amp;appid=${api_key}&amp;units=metric
</value>
                            </entry>
                            <entry>
<key>disable-http2</key>
<value>False</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>15 secs</value>
                            </entry>
                            <entry>
<key>Socket Write Timeout</key>
<value>15 secs</value>
                            </entry>
                            <entry>
<key>idle-timeout</key>
<value>5 mins</value>
                            </entry>
                            <entry>
<key>max-idle-connections</key>
<value>5</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>http</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
                            </entry>
                            <entry>
<key>oauth2-access-token-provider</key>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>false</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>true</value>
                            </entry>
                            <entry>
<key>form-body-form-name</key>
                            </entry>
                            <entry>
<key>set-form-filename</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Content-Encoding</key>
<value>DISABLED</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>${mime.type}</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
                            </entry>
                            <entry>
<key>Useragent</key>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>256</value>
                            </entry>
                            <entry>
<key>ignore-response-content</key>
<value>false</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>false</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>10MB</value>
                            </entry>
                            <entry>
<key>cookie-strategy</key>
<value>DISABLED</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>false</value>
                            </entry>
                            <entry>
<key>flow-file-naming-strategy</key>
<value>RANDOM</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>True</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>InvokeHTTP</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>No Retry</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Response</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Retry</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                </processors>
                <processors>
                    <id>b8c8724e-93eb-3e5e-0000-000000000000</id>
                    <parentGroupId>561aa6a9-2b4b-3639-0000-000000000000</parentGroupId>
                    <position>
                        <x>336.0</x>
                        <y>32.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-scripting-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.27.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Script Engine</key>
<value>
    <name>Script Engine</name>
</value>
                            </entry>
                            <entry>
<key>Script File</key>
<value>
    <name>Script File</name>
</value>
                            </entry>
                            <entry>
<key>Script Body</key>
<value>
    <name>Script Body</name>
</value>
                            </entry>
                            <entry>
<key>Module Directory</key>
<value>
    <name>Module Directory</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Script Engine</key>
<value>Groovy</value>
                            </entry>
                            <entry>
<key>Script File</key>
                            </entry>
                            <entry>
<key>Script Body</key>
<value>def cities = ["Paris", "New York", "Tokyo", "Lagos", "Geneva", "Sydney", "Beijing", "Rio de Janeiro", "Cape Town", "Mumbai"]

cities.each { city -&gt;
    def flowFile = session.create() // Cre un nouveau FlowFile
    flowFile = session.putAttribute(flowFile, "city", city) // Ajoute l'attribut 'city' avec le nom de la ville
    session.transfer(flowFile, REL_SUCCESS) // Transfre le FlowFile au prochain processeur
}
</value>
                            </entry>
                            <entry>
<key>Module Directory</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExecuteScript</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.script.ExecuteScript</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>SINGLE_FLOWFILE_PER_NODE</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <logFileSuffix></logFileSuffix>
            <name>Weather API Process</name>
            <variables>
                <entry>
                    <key>api_key</key>
                    <value>53f62d6629433d21f33f95248279d538</value>
                </entry>
            </variables>
        </processGroups>
    </snippet>
    <timestamp>09/15/2024 17:36:40 UTC</timestamp>
</template>
